@import 'variables';

a {
    text-decoration: none;
}
.select-all-options {
    text-align: center;
    width: 180px;
    margin: 0 16px;
}
.table thead th:nth-child(n + 3) {
    width: 100px;
}
.table tbody td:nth-child(1) {
    text-align: center;
}
