<div class='mt-4'>
    <h3>Add a pokemon</h3>
    <form method='POST' action='/pokemons/store'>
        <div class='mb-3'>
            <label for='pokemon-name' class='form-label'>Name</label>
            <input
                type='text'
                class='form-control'
                id='pokemon-name'
                name='name'
            />
        </div>
        <div class='mb-3'>
            <label for='pokemon-type' class='form-label'>Type</label>
            <input
                type='text'
                class='form-control'
                id='pokemon-type'
                name='type'
            />
        </div>
        <div class='mb-3'>
            <label for='pokemon-image' class='form-label'>Image</label>
            <input
                type='text'
                class='form-control'
                id='pokemon-image'
                name='image'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Add</button>
    </form>

</div>