<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button>More info</button>
        </div>

        <div class='col-lg-9'>
            <h2>{{pokemon.name}}</h2>
            <img src='{{pokemon.image}}' alt='{{pokemon.name}}' />
            <p>Type: {{pokemon.type}}</p>
        </div>
    </div>
</div>