<div class='mt-4'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='search-input' class='form-label'>Keywords</label>
            <input
                type='text'
                class='form-control'
                name='q'
                id='search-input'
                placeholder='Enter keyword(s)'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Search</button>
    </form>
</div>